<a href="{{rootPath}}img/Chipmunks_Picture.jpg" data-size="956x768" data-med="{{rootPath}}img/Chipmunks_Picture.jpg" data-med-size="956x768" data-author="Dale DuRee" class="demo-gallery__img--main">
  <img src="{{rootPath}}img/Chipmunks_Thumbnail.jpg" alt="" />
  <figure>This is dummy caption.</figure>
</a>

<a href="{{rootPath}}img/Moose_Picture.jpg" data-size="613x768" data-med="{{rootPath}}img/Moose_Picture.jpg" data-med-size="613x768" data-author="Dale DuRee">
  <img src="{{rootPath}}img/Moose_Thumb.jpg" alt="" />
  <figure>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</figure>
</a>


<a href="https://farm4.staticflickr.com/3902/14985871946_24f47d4b53_h.jpg" data-size="1600x1067" data-med="https://farm4.staticflickr.com/3902/14985871946_86abb8c56f_b.jpg" data-med-size="1024x683" data-author="Dale DuRee">
  <img src="https://farm4.staticflickr.com/3902/14985871946_86abb8c56f_m.jpg" alt="" />
  <figure>This is dummy caption. It is not meant to be read.</figure>
</a>


<a href="https://farm6.staticflickr.com/5584/14985868676_b51baa4071_h.jpg" data-size="1600x1067" data-med="https://farm6.staticflickr.com/5584/14985868676_4b802b932a_b.jpg" data-med-size="1024x683" data-author="Dale DuRee">
  <img src="https://farm6.staticflickr.com/5584/14985868676_4b802b932a_m.jpg" alt="" />
  <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
</a>

<a href="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg" data-size="1600x1067" data-med="https://farm4.staticflickr.com/3920/15008465772_383e697089_b.jpg" data-med-size="1024x683" data-author="Dale DuRee">
  <img src="https://farm4.staticflickr.com/3920/15008465772_383e697089_m.jpg" alt="" />
  <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
</a>
