<div class="row">
  <div class="panel gallery-section-heading col-xs-12">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="gallery-section-title">Colored Pencil</h1>
      </div>
    </div>
  </div>


  {{! pencil images }}
  <div class="grid pencil-gallery col-xs-12 col-md-12 text-center">
    <a class="grid-item grid-item--landscape pencil" href="{{rootPath}}img/CO301P.jpg" data-size="614x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO301T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--landscape pencil" href="{{rootPath}}img/CO302P.jpg" data-size="613x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO302T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--landscape pencil" href="{{rootPath}}img/CO306P.jpg" data-size="988x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO306T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait pencil" href="{{rootPath}}img/CO605P.jpg" data-size="614x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO605T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--landscape pencil" href="{{rootPath}}img/CO606P.jpg" data-size="614x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO606T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--landscape pencil" href="{{rootPath}}img/CO608P.jpg" data-size="614x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO608T.jpg" alt="" />
    </a>
  </div> {{! /.pencil-gallery }}
</div> {{! /.row }}

















<div class="hr"></div> {{! separator between colored pencil and crayon }}

<div class="row">
  <div class="panel gallery-section-heading col-xs-12">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="gallery-section-title">Crayons</h1>
      </div>
    </div>
  </div>


  {{! crayon images }}
  <div class="grid crayon-gallery col-xs-12 col-md-12 text-center">
    <a class="grid-item grid-item--portrait crayon" href="{{rootPath}}img/CO701P.jpg" data-size="956x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO701T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait crayon" href="{{rootPath}}img/CO702P.jpg" data-size="613x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO702T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait crayon" href="{{rootPath}}img/CO704P.jpg" data-size="610x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO704T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait crayon" href="{{rootPath}}img/CO705P.jpg" data-size="980x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO705T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait crayon" href="{{rootPath}}img/CO706P.jpg" data-size="598x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO706T.jpg" alt="" />
    </a>

  </div> {{! /.crayon-gallery }}
</div> {{! /.row }}











<div class="hr"></div> {{! separator between crayon and little heroes sections }}


{{! little heroes section }}
<div class="row">
  <div class="panel gallery-section-heading col-xs-12">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="gallery-section-title">Little Heroes</h1>
      </div>
    </div>
  </div> {{! /.panel.gallery-section-heading }}

  {{! little heroes images }}
  <div class="grid pencil-gallery col-xs-12 col-md-12 text-center">
    <a class="grid-item grid-item--portrait heroes" href="{{rootPath}}img/CO205P.jpg" data-size="617x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO205T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait heroes" href="{{rootPath}}img/CO206P.jpg" data-size="610x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO206T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait heroes" href="{{rootPath}}img/CO207P.jpg" data-size="612x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO207T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait heroes" href="{{rootPath}}img/CO208P.jpg" data-size="607x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/CO208T.jpg" alt="" />
    </a>


  </div> {{! /.pencil-gallery }}

</div> {{! /.row }}













<div class="hr"></div> {{! separator between little heroes and school pencil sections }}

{{! school pencil section }}
<div class="row">
  <div class="panel gallery-section-heading col-xs-12">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="gallery-section-title">School Pencil</h1>
      </div>
    </div>
  </div> {{! /.panel.gallery-section-heading }}

  {{! school pencil images }}
  <div class="grid school-pencil-gallery col-xs-12 col-md-12 text-center">
    <a class="grid-item grid-item--portrait school" href="{{rootPath}}img/BO501P.jpg" data-size="968x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/BO501T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait school" href="{{rootPath}}img/BO507P.jpg" data-size="978x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/BO507T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait school" href="{{rootPath}}img/BO508P.jpg" data-size="981x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/BO508T.jpg" alt="" />
    </a>

    <a class="grid-item grid-item--portrait school" href="{{rootPath}}img/BO509P.jpg" data-size="960x768" data-author="A. Dale DuRee">
      <img src="{{rootPath}}img/BO509T.jpg" alt="" />
    </a>
  </div> {{! /.school-pencil-gallery }}
</div> {{! /.row }}
