<div class="row">
  <div class="panel gallery-section-heading col-xs-12">
    <div class="row text-center">
      <div class="gallery-image-container col-md-12">
        <img src="{{rootPath}}img/Colored_Pencil.jpg" alt="Art done with colored pencils" />
      </div>
      <div class="col-md-12">
        <h1 class="gallery-section-title">Colored Pencil</h1>
      </div>
    </div>
  </div>


  {{! pencil images }}
  <div class="grid pencil-gallery col-xs-12 col-md-12 text-center">
    <!-- <div class="grid-item grid-item-landscape pencil"> -->
      <a class="grid-item grid-item--landscape pencil" href="{{rootPath}}img/Chipmunks_Picture.jpg" data-size="956x768" data-med="{{rootPath}}img/Chipmunks_Picture.jpg" data-med-size="956x768" data-author="A. Dale DuRee" class="demo-gallery__img--main">
        <img src="{{rootPath}}img/Chipmunks_Thumbnail.jpg" alt="" />
        <figure>This is dummy caption.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait pencil"> -->
      <a class="grid-item grid-item--portrait pencil" href="{{rootPath}}img/Moose_Picture.jpg" data-size="613x768" data-med="{{rootPath}}img/Moose_Picture.jpg" data-med-size="613x768" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/Moose_Thumb.jpg" alt="" />
        <figure>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape crayon" href="{{rootPath}}img/cat5_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/cat5_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/cat5_sm.jpg" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape crayon" href="{{rootPath}}img/cat4_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/cat4_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/cat4_sm.jpg" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape pencil"> -->
      <a class="grid-item grid-item--landscape pencil" href="{{rootPath}}img/Chipmunks_Picture.jpg" data-size="956x768" data-med="{{rootPath}}img/Chipmunks_Picture.jpg" data-med-size="956x768" data-author="A. Dale DuRee" class="demo-gallery__img--main">
        <img src="{{rootPath}}img/Chipmunks_Thumbnail.jpg" alt="" />
        <figure>This is dummy caption.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape crayon" href="{{rootPath}}img/cat3_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/cat3_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/cat3_sm.jpg" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait pencil"> -->
      <a class="grid-item grid-item--portrait pencil" href="{{rootPath}}img/Moose_Picture.jpg" data-size="613x768" data-med="{{rootPath}}img/Moose_Picture.jpg" data-med-size="613x768" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/Moose_Thumb.jpg" alt="" />
        <figure>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape crayon" href="{{rootPath}}img/cat2_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/cat2_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/cat2_sm.jpg" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait crayon"> -->
      <a class="grid-item grid-item--portrait crayon" href="{{rootPath}}img/cat1_lg.jpg" data-size="768x956" data-med="{{rootPath}}img/cat1_md.jpg" data-med-size="480x640" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/cat1_sm.jpg" alt="" />
        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait crayon"> -->
      <a class="grid-item grid-item--portrait crayon" href="{{rootPath}}img/cat6_lg.jpg" data-size="768x956" data-med="{{rootPath}}img/cat6_lg.jpg" data-med-size="480x640" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/cat6_sm.jpg" alt="" />
        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
      </a>
    <!-- </div> -->
  </div> {{! /.pencil-gallery }}
</div> {{! /.row }}


<hr> {{! separator between colored pencil and crayon }}

<div class="row">
  <div class="panel gallery-section-heading col-xs-12">
    <div class="row text-center">
      <div class="gallery-image-container col-md-12">
        <img src="{{rootPath}}img/Crayons.jpg" alt="Art done with Crayons" />
      </div>
      <div class="col-md-12">
        <h1 class="gallery-section-title">Crayons</h1>
      </div>
    </div>
  </div>



  {{! crayon images }}
  <div class="grid crayon-gallery col-xs-12 col-md-12 text-center">
    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="{{rootPath}}img/animals1_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/animals1_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/animals1_sm.jpg" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="{{rootPath}}img/animals2_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/animals2_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/animals2_sm.jpg" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="{{rootPath}}img/animals3_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/animals3_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/animals3_sm.jpg" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait crayon"> -->
      <a class="grid-item grid-item--portrait" href="{{rootPath}}img/animals4_lg.jpg" data-size="768x956" data-med="{{rootPath}}img/animals4_md.jpg" data-med-size="480x640" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/animals4_sm.jpg" alt="" />
        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="{{rootPath}}img/animals5_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/animals5_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/animals5_sm.jpg" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait crayon"> -->
      <a class="grid-item grid-item--portrait" href="{{rootPath}}img/animals9_lg.jpg" data-size="768x956" data-med="{{rootPath}}img/animals9_md.jpg" data-med-size="480x640" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/animals9_sm.jpg" alt="" />
        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="{{rootPath}}img/animals7_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/animals7_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/animals7_sm.jpg" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="{{rootPath}}img/animals8_lg.jpg" data-size="956x768" data-med="{{rootPath}}img/animals8_md.jpg" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/animals8_sm.jpg" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->


  </div> {{! /.crayon-gallery }}
</div> {{! /.row }}
