<div class="row">
  <div class="panel gallery-section-heading col-xs-12">
    <div class="row text-center">
      <div class="gallery-image-container col-md-12">
        <img src="{{rootPath}}img/Colored_Pencil.jpg" alt="Art done with colored pencils" />
      </div>
      <div class="col-md-12">
        <h1 class="gallery-section-title">Colored Pencil</h1>
      </div>
    </div>
  </div>


  {{! pencil images }}
  <div class="grid pencil-gallery col-xs-12 col-md-12 text-center">
    <!-- <div class="grid-item grid-item-landscape pencil"> -->
      <a class="grid-item grid-item--landscape pencil" href="{{rootPath}}img/Chipmunks_Picture.jpg" data-size="956x768" data-med="{{rootPath}}img/Chipmunks_Picture.jpg" data-med-size="956x768" data-author="A. Dale DuRee" class="demo-gallery__img--main">
        <img src="{{rootPath}}img/Chipmunks_Thumbnail.jpg" alt="" />
        <figure>This is dummy caption.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait pencil"> -->
      <a class="grid-item grid-item--portrait pencil" href="{{rootPath}}img/Moose_Picture.jpg" data-size="613x768" data-med="{{rootPath}}img/Moose_Picture.jpg" data-med-size="613x768" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/Moose_Thumb.jpg" alt="" />
        <figure>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape crayon" href="http://lorempixel.com/g/956/768/cats/5/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/cats/5/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/cats/5/" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape crayon" href="http://lorempixel.com/g/956/768/cats/4/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/cats/4/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/cats/4/" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape pencil"> -->
      <a class="grid-item grid-item--landscape pencil" href="{{rootPath}}img/Chipmunks_Picture.jpg" data-size="956x768" data-med="{{rootPath}}img/Chipmunks_Picture.jpg" data-med-size="956x768" data-author="A. Dale DuRee" class="demo-gallery__img--main">
        <img src="{{rootPath}}img/Chipmunks_Thumbnail.jpg" alt="" />
        <figure>This is dummy caption.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape crayon" href="http://lorempixel.com/g/956/768/cats/3/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/cats/3/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/cats/3/" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait pencil"> -->
      <a class="grid-item grid-item--portrait pencil" href="{{rootPath}}img/Moose_Picture.jpg" data-size="613x768" data-med="{{rootPath}}img/Moose_Picture.jpg" data-med-size="613x768" data-author="A. Dale DuRee">
        <img src="{{rootPath}}img/Moose_Thumb.jpg" alt="" />
        <figure>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape crayon" href="http://lorempixel.com/g/956/768/cats/2/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/cats/2/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/cats/2/" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait crayon"> -->
      <a class="grid-item grid-item--portrait crayon" href="http://lorempixel.com/g/768/956/cats/1/" data-size="768x956" data-med="http://lorempixel.com/g/480/640/cats/1/" data-med-size="480x640" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/180/225/cats/1/" alt="" />
        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait crayon"> -->
      <a class="grid-item grid-item--portrait crayon" href="http://lorempixel.com/g/768/956/cats/6/" data-size="768x956" data-med="http://lorempixel.com/g/480/640/cats/6/" data-med-size="480x640" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/180/225/cats/6/" alt="" />
        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
      </a>
    <!-- </div> -->
  </div> {{! /.pencil-gallery }}
</div> {{! /.row }}


<hr> {{! separator between colored pencil and crayon }}

<div class="row">
  <div class="panel gallery-section-heading col-xs-12">
    <div class="row text-center">
      <div class="gallery-image-container col-md-12">
        <img src="{{rootPath}}img/Crayons.jpg" alt="Art done with Crayons" />
      </div>
      <div class="col-md-12">
        <h1 class="gallery-section-title">Crayons</h1>
      </div>
    </div>
  </div>



  {{! crayon images }}
  <div class="grid crayon-gallery col-xs-12 col-md-12 text-center">
    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="http://lorempixel.com/g/956/768/animals/1/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/animals/1/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/animals/1/" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="http://lorempixel.com/g/956/768/animals/2/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/animals/2/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/animals/2/" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="http://lorempixel.com/g/956/768/animals/3/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/animals/3/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/animals/3/" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait crayon"> -->
      <a class="grid-item grid-item--portrait" href="http://lorempixel.com/g/768/956/animals/4/" data-size="768x956" data-med="http://lorempixel.com/g/480/640/animals/4/" data-med-size="480x640" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/180/225/animals/4/" alt="" />
        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="http://lorempixel.com/g/956/768/animals/5/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/animals/5/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/animals/5/" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-portrait crayon"> -->
      <a class="grid-item grid-item--portrait" href="http://lorempixel.com/g/768/956/animals/9/" data-size="768x956" data-med="http://lorempixel.com/g/480/640/animals/9/" data-med-size="480x640" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/180/225/animals/9/" alt="" />
        <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="http://lorempixel.com/g/956/768/animals/7/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/animals/7/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/animals/7/" alt="" />
        <figure>This is dummy caption. It is not meant to be read.</figure>
      </a>
    <!-- </div> -->

    <!-- <div class="grid-item grid-item-landscape crayon"> -->
      <a class="grid-item grid-item--landscape" href="http://lorempixel.com/g/956/768/animals/8/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/animals/8/" data-med-size="640x480" data-author="A. Dale DuRee">
        <img src="http://lorempixel.com/g/280/225/animals/8/" alt="" />
        <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
      </a>
    <!-- </div> -->


  </div> {{! /.crayon-gallery }}
</div> {{! /.row }}
